{% extends 'base.html.twig' %}

{% block title %}Empleados{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/perfil.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
<br>
    <div class="row">
        <div class="col-12">

            <table id="example" class="hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Apellidos</th>
                    <th>Nombre</th>
                    <th>Tipo Empleado</th>
                    <th>Cod. Biométrico</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                {% for a in empleados_a %}
                    <tr>
                        <td>{{ a.apellidos }}</td>
                        <td>{{ a.nombres }}</td>
                        <td>{{ a.tipoempleado }}</td>
                        <td>{{ a.codbiometrico }}</td>
                        <td>

                            {{ render(controller(
                                'App\\Controller\\EmpleadosController::verEmpleadoA', { 'id' : a.id }
                            )) }}

                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('empleadoA_editar', {'id':a.id}) }}" role="button" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>

                            {{ render(controller(
                                'App\\Controller\\EmpleadoAController::vistaEliminarEmpleadoA', { 'id' : a.id }
                            )) }}

                            {% endif %}


                        </td>
                    </tr>
                {% else %}
                    No users have been found.
                {% endfor %}

                {% for b in empleados_b %}
                    <tr>
                        <td>{{ b.apellidos }}</td>
                        <td>{{ b.nombres }}</td>
                        <td>{{ b.tipoempleado }}</td>
                        <td>{{ b.codbiometrico }}</td>
                        <td>

                            {{ render(controller(
                                'App\\Controller\\EmpleadosController::verEmpleadoB', { 'id' : b.id }
                            )) }}

                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('empleadoB_editar', {'id':b.id}) }}" role="button" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            {{ render(controller(
                                'App\\Controller\\EmpleadoBController::vistaEliminarEmpleadoB', { 'id' : b.id }
                            )) }}

                            {% endif %}



                        </td>
                    </tr>
                {% else %}
                    No users have been found.
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {

            $('#example').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
            });

        });


    </script>

    <script>
        function myFunction(id) {
            document.getElementById('fieldset_2A_'+id).classList.remove('hide');
            document.getElementById('fieldset_1A_'+id).classList.add('hide');
            document.getElementById('siguiente'+id).classList.add('hide');
            document.getElementById('siguiente2'+id).classList.remove('hide');
        }
        function myFunction2(id) {
            document.getElementById('fieldset_3A_'+id).classList.remove('hide');
            document.getElementById('fieldset_2A_'+id).classList.add('hide');
        }

        function cerrar(id) {
            document.getElementById('fieldset_1A_'+id).classList.remove('hide');
            document.getElementById('fieldset_2A_'+id).classList.add("hide");
            document.getElementById('fieldset_3A_'+id).classList.add("hide");
            document.getElementById('siguiente'+id).classList.remove('hide');
            document.getElementById('siguiente2'+id).classList.add('hide');

        }

        function myFunctionB(id) {
            document.getElementById('fieldset_2B_'+id).classList.remove('hide');
            document.getElementById('fieldset_1B_'+id).classList.add('hide');
            document.getElementById('siguienteB'+id).classList.add('hide');
            document.getElementById('siguiente2B'+id).classList.remove('hide');
        }

        function myFunction2B(id) {
            document.getElementById('fieldset_3B_'+id).classList.remove('hide');
            document.getElementById('fieldset_2B_'+id).classList.add('hide');
            console.log("funvion para ver el filset 3 del B")
        }

        function cerrarB(id) {
            document.getElementById('fieldset_1B_'+id).classList.remove('hide');
            document.getElementById('fieldset_2B_'+id).classList.add("hide");
            document.getElementById('fieldset_3B_'+id).classList.add("hide");
            document.getElementById('siguienteB'+id).classList.remove('hide');
            document.getElementById('siguiente2B'+id).classList.add('hide');

        }
    </script>
{% endblock %}