<!-- Button trigger modal -->
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModalB{{ empleado_b.id }}">
    <i class="far fa-user"></i>
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalB{{ empleado_b.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ empleado_b.apellidos }} {{ empleado_b.nombres }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cerrarB({{ empleado_b.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset id="fieldset_1B_{{ empleado_b.id }}">
                        <strong><legend style="color: #025aa5; font-size:medium "><ins>INFORMACIÓN BÁSICA</ins></legend></strong>
                        <div class="row">
                            <div class="col-2">
                                <h5><strong>{{ empleado_b.tipoempleado }}</strong></h5>
                                <img src="{{ asset('fotos_empleados/'~ empleado_b.foto) }}" class="img-fluid img-perfil">

                                <h5><strong>Categoria:</strong> {{ empleado_b.sueldo.categoria }}</h5>
                                <h5><strong>Sueldo:</strong> ${{ empleado_b.sueldo.valor }}</h5>
                            </div>

                            <div class="col-10">
                                <div class="row">
                                    <div class="col-6">
                                        <h5><strong>CI: </strong>{{ empleado_b.cedula }}</h5>

                                    </div>
                                    <div class="col-6">
                                        <h5><strong>Cód. Reloj B.:</strong> {{ empleado_b.codbiometrico }}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <strong>Fecha de Nacimiento:</strong>
                                        <p>{{ empleado_b.fnacimiento |date('d/m/Y') }}</p>
                                    </div>
                                    <div class="col-4">
                                        <strong>Estado Civil:</strong>
                                        <p>{{ empleado_b.ecivil }}</p>
                                    </div>
                                    <div class="col-4">
                                        <strong>Tipo de Sangre:</strong>
                                        <p>{{ empleado_b.tsangre }}</p>
                                    </div>
                                </div>

                                {% if empleado_b.ecivil == 'Unión de Hecho' or empleado_b.ecivil == 'Casado/a' %}
                                    <div class="row">
                                        <div class="col-8">
                                            <strong>Nombre del Conyuge:</strong>
                                            <p>{{ empleado_b.nombreconyugue }}</p>
                                        </div>
                                        <div class="col-4">
                                            <strong>Cédula conyuge:</strong>
                                            <p>{{ empleado_b.cedulaconyugue }}</p>
                                        </div>
                                    </div>
                                {% endif %}


                                <div class="row">
                                    <div class="col-4">
                                        <strong>N° Cuenta Banc.:</strong>
                                        <p>{{ empleado_b.cuentabanco }}</p>
                                    </div>
                                    <div class="col-4">
                                        <strong>Nombre Banco:</strong>
                                        <p>{{ empleado_b.nombrebanco }}</p>
                                    </div>
                                    <div class="col-4">
                                        <strong>Tipo de Cuenta:</strong>
                                        <p>{{ empleado_b.tipocuenta }}</p>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-6">
                                        <strong>Ingreso a la Institución:</strong>
                                        <p>{{ empleado_b.ingresoinstitucion |date('d/m/Y')}}</p>
                                    </div>

                                    <div class="col-6">
                                        <strong>Edificio que Labora:</strong>
                                        <ul class="lista">
                                            {% for edificio in empleado_b.edificiolabora %}
                                                <li>{{ edificio }}</li>
                                            {% endfor %}

                                        </ul>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-6">
                                        <strong>Cargo:</strong>
                                        <p>{{ empleado_b.cargo}}</p>
                                    </div>

                                    <div class="col-6">
                                        <strong>Departamento que Labora:</strong>
                                        <p>{{ empleado_b.dptolabora}}</p>
                                    </div>

                                </div>


                            </div>


                        </div>

                    </fieldset>


                    <fieldset class="hide" id="fieldset_2B_{{ empleado_b.id }}">
                        <strong><legend style="color: #025aa5; font-size:medium "><ins>DIRECCIÓN DOMICILIARIA</ins></legend></strong>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <strong>Calle Principal:</strong>
                                        <p>{{ empleado_b.calleprincipal }}</p>
                                    </div>
                                    <div class="col-4">
                                        <strong>Calle Transversal:</strong>
                                        <p>{{ empleado_b.calletransversal }}</p>
                                    </div>
                                    <div class="col-4">
                                        <strong>N° casa y/o dpto:</strong>
                                        <p>{{ empleado_b.numcasa }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <strong>Barrio:</strong>
                                        <p>{{ empleado_b.barrio }}</p>
                                    </div>
                                    <div class="col-3">
                                        <strong>Sector:</strong>
                                        <p>{{ empleado_b.sector }}</p>
                                    </div>
                                    <div class="col-3">
                                        <strong>Canton:</strong>
                                        <p>{{ empleado_b.canton.nombre }}</p>
                                    </div>
                                    <div class="col-3">
                                        <strong>Parroquia:</strong>
                                        <p>{{ empleado_b.parroquia.nombre }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <strong>Telf. Dom.:</strong>
                                        <p>{{ empleado_b.teldomicilio }}</p>
                                    </div>
                                    <div class="col-3">
                                        <strong>Oficina:</strong>
                                        <p>{{ empleado_b.teloficina }}</p>
                                    </div>
                                    <div class="col-3">
                                        <strong>Celular:</strong>
                                        <p>{{ empleado_b.celular }}</p>
                                    </div>
                                    <div class="col-3">
                                        <strong>Operadora:</strong>
                                        <p>{{ empleado_b.operadora }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <strong>Email Principal:</strong>
                                        <p>{{ empleado_b.emailprincipal }}</p>
                                    </div>
                                    <div class="col-6">
                                        <strong>Email Alterno:</strong>
                                        <p>{{ empleado_b.emailalterno }}</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4">
                                        <strong>En caso de emergencia comunicarse</strong>
                                        <p>{{ empleado_b.nombreemergencia }}</p>
                                    </div>
                                    <div class="col-4">
                                        <strong>Parentesco:</strong>
                                        <p>{{ empleado_b.parentescoemergencia }}</p>
                                    </div>
                                    <div class="col-4">
                                        <strong>Teléfono:</strong>
                                        <p>{{ empleado_b.telemergencia }}</p>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </fieldset>


                    <fieldset class="hide" id="fieldset_3B_{{ empleado_b.id }}">
                        <strong><legend style="color: #025aa5; font-size:medium "><ins>NIVEL DE INSTRUCCIÓN</ins></legend></strong>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-6">
                                        <h5><u><strong>Bachilletaro </strong></u></h5>
                                        {% for bach in bachillerato_b %}
                                            <strong>Titulo:</strong>
                                            <p>{{ bach.titulo }}</p>
                                            <strong>Institución:</strong>
                                            <p>{{ bach.institucion }}</p>
                                            <strong>Fecha de Titulo:</strong>
                                            <p>{{ bach.fechaTitulo |date('d/m/Y') }}</p>
                                        {% endfor %}
                                    </div>

                                    <div class="col-6">
                                        <h5><u><strong>Post Bachilletaro </strong></u></h5>
                                        {% for postbach in postbachillerato_b %}
                                            <strong>Titulo:</strong>
                                            <p>{{ postbach.titulo }}</p>
                                            <strong>Institución:</strong>
                                            <p>{{ postbach.institucion }}</p>
                                            <strong>Fecha de Titulo:</strong>
                                            <p>{{ postbach.fechaTitulo |date('d/m/Y') }}</p>
                                        {% endfor %}
                                    </div>

                                    <div class="col-6">
                                        <h5><u><strong>Educacón Superior </strong></u></h5>
                                        {% for sup in superior_b %}
                                            <strong>Titulo:</strong>
                                            <p>{{ sup.titulo }}</p>
                                            <strong>Institución:</strong>
                                            <p>{{ sup.institucion }}</p>
                                            <strong>Reg. Senescyt:</strong>
                                            <p>{{ sup.registroSenescyt }}</p>
                                            <strong>Nivel:</strong>
                                            <p>{{ sup.nivel }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cerrarB({{ empleado_b.id }})">Cerrar</button>
                <button type="button" class="btn btn-primary" id="siguienteB{{ empleado_b.id }}" onclick="myFunctionB({{ empleado_b.id }})">Siguiente</button>
                <button type="button" class="btn btn-primary hide" id="siguiente2B{{ empleado_b.id }}" onclick="myFunction2B({{ empleado_b.id }})">Siguiente</button>
            </div>
        </div>
    </div>
</div>