
<nav class="navbar navbar-expand-lg navbar-dark navColor p-1">
    <div class="container">
        {#<a class="navbar-brand" href="#">Navbar</a>#}
        <img id="imgNav" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Sello_del_Instituto_Nacional_Mej%C3%ADa.png">

        <div id="user_name" style="visibility: hidden; color: white; font-family: cursive;font-size: unset;    padding-left: 9px;">{{app.user.email}}</div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('empleados') }}"><i class="fas fa-users"></i> Empleados </a>
                </li>
                <li class="nav-item dropdown active">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-list-alt"></i> Registrar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Empleado</a>
                            <a class="dropdown-item" href="{{ path('empleadoA_nuevo') }}">Empleado A</a>
                            <a class="dropdown-item" href="{{ path('empleadoB_nuevo') }}">Empleado B</a>
                            <a class="dropdown-item" href="{{ path('sueldo') }}">Sueldo</a>
                            <a class="dropdown-item" href="{{ path('horario') }}">Horarios</a>
                        </div>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path('control') }}"><i class="fas fa-table"></i> Control </a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if is_granted('ROLE_USER') %}
                        <a class="nav-link" href="{{ path('inspeccion') }}"><i class="fas fa-eye"></i> Inspección </a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path('reporte') }}"><i class="fas fa-file"></i></i> Reportes </a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('logout')}}"><i class="fas fa-sign-out"></i> Salir </a>
                </li>
            </ul>
        </div>
    </div>

</nav>




{% block javascripts %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            var user = $('#user_name').text();
            user = user.split(" / ");
            $("#user_name").text(user[0]); 
            $("#user_name").css("visibility","visible");
            console.log(user);
        });

    </script>

{% endblock %}



