
<nav class="navbar navbar-expand-lg navbar-dark navColor p-1">
    <div class="container">
        {#<a class="navbar-brand" href="#">Navbar</a>#}
        <img id="imgNav" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/Sello_del_Instituto_Nacional_Mej%C3%ADa.png">

        <div id="user_name" style="visibility: hidden; color: white; font-family: cursive;font-size: unset;    padding-left: 9px;">{{app.user.email}} </div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('empleados') }}"><i class="fas fa-users"></i> Empleados </a>
                </li>
                <li class="nav-item dropdown active">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-list-alt"></i> Registrar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Empleado</a>
                            <a class="dropdown-item" href="{{ path('empleadoA_nuevo') }}">Empleado A</a>
                            <a class="dropdown-item" href="{{ path('empleadoB_nuevo') }}">Empleado B</a>
                            <a class="dropdown-item" href="{{ path('sueldo') }}">Sueldo</a>
                            <a class="dropdown-item" href="{{ path('horario') }}">Horarios</a>
                        </div>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path('control') }}"><i class="fas fa-table"></i> Control </a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if is_granted('ROLE_USER') %}
                        <a class="nav-link" href="{{ path('inspeccion') }}"><i class="fas fa-eye"></i> Inspección </a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-link" href="{{ path('reporte') }}"><i class="fas fa-file"></i></i> Reportes </a>
                    {% endif %}
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#modal-reset" data-toggle="modal" ><i class="fas fa-cog"></i></i> Configuración </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('logout')}}"><i class="fas fa-sign-out"></i> Salir </a>
                </li>
            </ul>
        </div>
    </div>

</nav>


	<div id="modal-reset" class="modal fade">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	            	<i class="fas fa-edit"></i>Cambiar contraseña
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	            </div>
	            <div class="modal-body">
                    <div class="row" id="msgAlert"></div>	

                    <form id="form-reset">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Nueva contraseña</label>
                            <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Nueva contraseña">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Repite contraseña</label>
                            <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputPassword2" placeholder="Repite contraseña">
                            </div>
                        </div>
                         
                    </form>

	            </div>

                <div class="modal-footer">
                    <button type="submit" class="reset btn btn-primary">Cambiar contraseña</button>
                </div>

	        </div>
	    </div>
	</div>





{% block javascripts %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            var user = $('#user_name').text();
            user = user.split(" / ");
            $("#user_name").text(user[0]); 
            $("#user_name").css("visibility","visible");
            console.log(user);

        });

    </script>

    <script>

    	$(document).on('click', 'button.reset', function(){
            console.log({{app.user.id}});
            $('button.reset').attr("disabled", true);

            var password1  =  $("#inputPassword").val();
            var password2  =  $("#inputPassword2").val();

            if(password1 == password2){
                
                console.log(password1);
                console.log(password2);

                $.ajax({
                    url:'/reset/password',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "id": {{app.user.id}},
                        "password": password1
                    },
                    async: true,
                    success: function (data)
                    {
                        $('button.reset').attr("disabled", false);
                        $("#form-reset")[0].reset();

                        
                      	$( "#msgAlert" ).append("<div id='msg' class='alert alert-info' role='alert'>"+data+" </div>");

                      	window.setTimeout(function() {
						    $("#msg").fadeTo(400, 0).slideUp(400, function(){
						        $(this).remove(); 
						    });
						}, 4000);

        
            
                    }
                });
	      

            }else{

                alert("Las contraseñas no coinciden");
            }


            return false;			

		});

    
    </script>

{% endblock %}



