{% extends 'base.html.twig' %}

{% block title %}Reporte index{% endblock %}

{% block body %}
    <h1>Reporte index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Inspector</th>
                <th>Jornada</th>
                <th>Grado</th>
                <th>Paralelos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reporte in reportes %}
            <tr>
                <td>{{ reporte.id }}</td>
                <td>{{ reporte.fecha ? reporte.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reporte.inspector }}</td>
                <td>{{ reporte.jornada }}</td>
                <td>{{ reporte.grado }}</td>
                <td>{{ reporte.paralelos }}</td>
                <td>
                    <a href="{{ path('reporte_show', {'id': reporte.id}) }}">show</a>
                    <a href="{{ path('reporte_edit', {'id': reporte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reporte_new') }}">Create new</a>
{% endblock %}
