
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter{{ id }}" >
        <i class="fas fa-edit"></i>
    </button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter{{ id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Bachillerato</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {{ form_start(formEmpleado_a, {'action': path('empleadoA_editarBachillerato', {'id': id, 'idEmpleado': idEmpleado})}) }}
            <div class="modal-body">
                <div class="form-group">
                    <label for="titulo"><strong style="color: red">*</strong>Título Obtenido:</label>
                    {{ form_widget(formEmpleado_a.titulo, {'attr':{'class':'form-control form-control-sm'}}) }}
                </div>
                <div class="form-group">
                    <label for="institucion"><strong style="color: red">*</strong>Institución:</label>
                    {{ form_widget(formEmpleado_a.institucion, {'attr':{'class':'form-control form-control-sm'}}) }}
                </div>
                <div class="form-group">
                    <label for="fecha_titulo"><strong style="color: red">*</strong>Fecha Título:</label>
                    {{ form_widget(formEmpleado_a.fecha_titulo, {'attr':{'class':'form-control form-control-sm'}}) }}
                </div>
                <div class="form-group" style="display: none">
                    <label for="empleado_a">Id EmpleadoA</label>
                    {{ form_widget(formEmpleado_a.empleado_a, {'attr':{'class':'form-control form-control-sm'}}) }}
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                {{ form_widget(formEmpleado_a.guardar, {'attr':{'class':'btn btn-primary'}}) }}
            </div>

            {{ form_end(formEmpleado_a) }}

        </div>
    </div>
</div>
