{% extends 'base.html.twig' %}

{% block title %}Horario{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="row" id="horario" style="text-align: right">
        <div class="col">
            <button type="button" class="btn btn-info" id="btnAgregarHorario">
                <i class="fas fa-plus"></i> Agregar sueldo
            </button>
        </div>
    </div>

    <br>
    <table id="tableHorarios" class="hover" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for hor in horarios %}
            <tr>
                <td>{{ hor.nombre }}</td>
                <td>{{ hor.lunes }}</td>
                <td>{{ hor.martes  }}</td>
                <td>{{ hor.miercoles  }}</td>
                <td>{{ hor.jueves  }}</td>
                <td>{{ hor.viernes  }}</td>
                <td>{{ hor.sabado  }}</td>
                <td>{{ hor.domingo  }}</td>
                <td>
                    <a href="{{ path('horario_vista_editar', {'id':hor.id}) }}" id="editar{{ hor.id }}" role="button" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            No users have been found.
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $("#btnAgregarHorario").click( function(){
                window.location= '{{ path("horario_nuevo") }}';
            });

            $(document).ready(function() {
                $('#tableHorarios').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                    }
                });
            } );

        } );

    </script>
{% endblock %}