{% extends 'base.html.twig' %}

{% block title %}Editar Horario{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block body %}
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <label><strong>Asigne un nombre a este horario</strong></label>
            <div class="input-group date" id="nombre">
                <input type="text" class="form-control form-control-sm" />
            </div>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h5>LUNES</h5>
            <br>
            <div>
                <label>Entrada</label>
                <div class="input-group date" id="lunesTime_1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#lunesTime_1"/>
                    <div class="input-group-append" data-target="#lunesTime_1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida Almuerzo</label>
                <div class="input-group date" id="lunesTime_2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#lunesTime_2"/>
                    <div class="input-group-append" data-target="#lunesTime_2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Entrada Almuerzo</label>
                <div class="input-group date" id="lunesTime_3" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#lunesTime_3"/>
                    <div class="input-group-append" data-target="#lunesTime_3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida</label>
                <div class="input-group date" id="lunesTime_4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#lunesTime_4"/>
                    <div class="input-group-append" data-target="#lunesTime_4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h5>MARTES</h5>
            <br>
            <div>
                <label>Entrada</label>
                <div class="input-group date" id="martesTime_1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#martesTime_1"/>
                    <div class="input-group-append" data-target="#martesTime_1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida Almuerzo</label>
                <div class="input-group date" id="martesTime_2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#martesTime_2"/>
                    <div class="input-group-append" data-target="#martesTime_2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Entrada Almuerzo</label>
                <div class="input-group date" id="martesTime_3" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#martesTime_3"/>
                    <div class="input-group-append" data-target="#martesTime_3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida</label>
                <div class="input-group date" id="martesTime_4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#martesTime_4"/>
                    <div class="input-group-append" data-target="#martesTime_4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h5>MIÉRCOLES</h5>
            <br>
            <div>
                <label>Entrada</label>
                <div class="input-group date" id="miercolesTime_1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#miercolesTime_1"/>
                    <div class="input-group-append" data-target="#miercolesTime_1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida Almuerzo</label>
                <div class="input-group date" id="miercolesTime_2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#miercolesTime_2"/>
                    <div class="input-group-append" data-target="#miercolesTime_2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Entrada Almuerzo</label>
                <div class="input-group date" id="miercolesTime_3" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#miercolesTime_3"/>
                    <div class="input-group-append" data-target="#miercolesTime_3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida</label>
                <div class="input-group date" id="miercolesTime_4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#miercolesTime_4"/>
                    <div class="input-group-append" data-target="#miercolesTime_4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h5>JUEVES</h5>
            <br>
            <div>
                <label>Entrada</label>
                <div class="input-group date" id="juevesTime_1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#juevesTime_1"/>
                    <div class="input-group-append" data-target="#juevesTime_1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida Almuerzo</label>
                <div class="input-group date" id="juevesTime_2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#juevesTime_2"/>
                    <div class="input-group-append" data-target="#juevesTime_2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Entrada Almuerzo</label>
                <div class="input-group date" id="juevesTime_3" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#juevesTime_3"/>
                    <div class="input-group-append" data-target="#juevesTime_3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida</label>
                <div class="input-group date" id="juevesTime_4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#juevesTime_4"/>
                    <div class="input-group-append" data-target="#juevesTime_4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h5>VIERNES</h5>
            <br>
            <div>
                <label>Entrada</label>
                <div class="input-group date" id="viernesTime_1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#viernesTime_1"/>
                    <div class="input-group-append" data-target="#viernesTime_1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida Almuerzo</label>
                <div class="input-group date" id="viernesTime_2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#viernesTime_2"/>
                    <div class="input-group-append" data-target="#viernesTime_2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Entrada Almuerzo</label>
                <div class="input-group date" id="viernesTime_3" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#viernesTime_3"/>
                    <div class="input-group-append" data-target="#viernesTime_3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida</label>
                <div class="input-group date" id="viernesTime_4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#viernesTime_4"/>
                    <div class="input-group-append" data-target="#viernesTime_4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h5>SÁBADO</h5>
            <br>
            <div>
                <label>Entrada</label>
                <div class="input-group date" id="sabadoTime_1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#sabadoTime_1"/>
                    <div class="input-group-append" data-target="#sabadoTime_1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida Almuerzo</label>
                <div class="input-group date" id="sabadoTime_2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#sabadoTime_2"/>
                    <div class="input-group-append" data-target="#sabadoTime_2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Entrada Almuerzo</label>
                <div class="input-group date" id="sabadoTime_3" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#sabadoTime_3"/>
                    <div class="input-group-append" data-target="#sabadoTime_3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida</label>
                <div class="input-group date" id="sabadoTime_4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#sabadoTime_4"/>
                    <div class="input-group-append" data-target="#sabadoTime_4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <h5>DOMINGO</h5>
            <br>
            <div>
                <label>Entrada</label>
                <div class="input-group date" id="domingoTime_1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#domingoTime_1"/>
                    <div class="input-group-append" data-target="#domingoTime_1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida Almuerzo</label>
                <div class="input-group date" id="domingoTime_2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#domingoTime_2"/>
                    <div class="input-group-append" data-target="#domingoTime_2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Entrada Almuerzo</label>
                <div class="input-group date" id="domingoTime_3" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#domingoTime_3"/>
                    <div class="input-group-append" data-target="#domingoTime_3" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label>Salida</label>
                <div class="input-group date" id="domingoTime_4" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input form-control-sm" data-target="#domingoTime_4"/>
                    <div class="input-group-append" data-target="#domingoTime_4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="far fa-clock"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row" style="text-align: center">
        <div class="col">
            <button type="button" class="btn btn-secondary" id="cancelarHorario">Cancelar</button>
            <button type="button" class="btn btn btn-primary" id="guardarHorario">Guardar</button>
        </div>
    </div>
    <br>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $.ajax({
                url:'{{ (path('horario_editar')) }}',
                type: "POST",
                dataType: "JSON",
                data: {
                    "id": {{ id }}
                },
                success: function (data)
                {
                    var lunes = data[0].lunes.split(",");
                    var martes = data[0].martes.split(",");
                    var miercoles = data[0].miercoles.split(",");
                    var jueves = data[0].jueves.split(",");
                    var viernes = data[0].viernes.split(",");
                    var sabado = data[0].sabado.split(",");
                    var domingo = data[0].domingo.split(",");

                    $("#lunesTime_1").find("input").val(lunes[0]);
                    $("#lunesTime_2").find("input").val(lunes[1]);
                    $("#lunesTime_3").find("input").val(lunes[2]);
                    $("#lunesTime_4").find("input").val(lunes[3]);

                    $("#martesTime_1").find("input").val(martes[0]);
                    $("#martesTime_2").find("input").val(martes[1]);
                    $("#martesTime_3").find("input").val(martes[2]);
                    $("#martesTime_4").find("input").val(martes[3]);

                    $("#miercolesTime_1").find("input").val(miercoles[0]);
                    $("#miercolesTime_2").find("input").val(miercoles[1]);
                    $("#miercolesTime_3").find("input").val(miercoles[2]);
                    $("#miercolesTime_4").find("input").val(miercoles[3]);

                    $("#juevesTime_1").find("input").val(jueves[0]);
                    $("#juevesTime_2").find("input").val(jueves[1]);
                    $("#juevesTime_3").find("input").val(jueves[2]);
                    $("#juevesTime_4").find("input").val(jueves[3]);

                    $("#viernesTime_1").find("input").val(viernes[0]);
                    $("#viernesTime_2").find("input").val(viernes[1]);
                    $("#viernesTime_3").find("input").val(viernes[2]);
                    $("#viernesTime_4").find("input").val(viernes[3]);

                    $("#sabadoTime_1").find("input").val(sabado[0]);
                    $("#sabadoTime_2").find("input").val(sabado[1]);
                    $("#sabadoTime_3").find("input").val(sabado[2]);
                    $("#sabadoTime_4").find("input").val(sabado[3]);

                    $("#domingoTime_1").find("input").val(domingo[0]);
                    $("#domingoTime_2").find("input").val(domingo[1]);
                    $("#domingoTime_3").find("input").val(domingo[2]);
                    $("#domingoTime_4").find("input").val(domingo[3]);

                    $("#nombre").find("input").val(data[0].nombre);
                }
            });

            $("#cancelarHorario").click( function(){
                window.location= '{{ path("horario") }}';
            });

            $('#lunesTime_1').datetimepicker({
                format: 'LT'
            });
            $('#lunesTime_2').datetimepicker({
                format: 'LT'
            });
            $('#lunesTime_3').datetimepicker({
                format: 'LT'
            });
            $('#lunesTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#martesTime_1').datetimepicker({
                format: 'LT'
            });
            $('#martesTime_2').datetimepicker({
                format: 'LT'
            });
            $('#martesTime_3').datetimepicker({
                format: 'LT'
            });
            $('#martesTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#miercolesTime_1').datetimepicker({
                format: 'LT'
            });
            $('#miercolesTime_2').datetimepicker({
                format: 'LT'
            });
            $('#miercolesTime_3').datetimepicker({
                format: 'LT'
            });
            $('#miercolesTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#juevesTime_1').datetimepicker({
                format: 'LT'
            });
            $('#juevesTime_2').datetimepicker({
                format: 'LT'
            });
            $('#juevesTime_3').datetimepicker({
                format: 'LT'
            });
            $('#juevesTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#viernesTime_1').datetimepicker({
                format: 'LT'
            });
            $('#viernesTime_2').datetimepicker({
                format: 'LT'
            });
            $('#viernesTime_3').datetimepicker({
                format: 'LT'
            });
            $('#viernesTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#sabadoTime_1').datetimepicker({
                format: 'LT'
            });
            $('#sabadoTime_2').datetimepicker({
                format: 'LT'
            });
            $('#sabadoTime_3').datetimepicker({
                format: 'LT'
            });
            $('#sabadoTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#domingoTime_1').datetimepicker({
                format: 'LT'
            });
            $('#domingoTime_2').datetimepicker({
                format: 'LT'
            });
            $('#domingoTime_3').datetimepicker({
                format: 'LT'
            });
            $('#domingoTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            Array.prototype.clean = function( deleteValue ) {
                for ( var i = 0, j = this.length ; i < j; i++ ) {
                    if ( this[ i ] == deleteValue ) {
                        this.splice( i, 1 );
                        i--;
                    }
                }
                return this;
            };

            $("#guardarHorario").click( function(){
                var lunes = [];
                var martes = [];
                var miercoles = [];
                var jueves = [];
                var viernes = [];
                var sabado = [];
                var domingo = [];

                lunes.push($("#lunesTime_1").find("input").val());
                lunes.push($("#lunesTime_2").find("input").val());
                lunes.push($("#lunesTime_3").find("input").val());
                lunes.push($("#lunesTime_4").find("input").val());

                martes.push($("#martesTime_1").find("input").val());
                martes.push($("#martesTime_2").find("input").val());
                martes.push($("#martesTime_3").find("input").val());
                martes.push($("#martesTime_4").find("input").val());

                miercoles.push($("#miercolesTime_1").find("input").val());
                miercoles.push($("#miercolesTime_2").find("input").val());
                miercoles.push($("#miercolesTime_3").find("input").val());
                miercoles.push($("#miercolesTime_4").find("input").val());

                jueves.push($("#juevesTime_1").find("input").val());
                jueves.push($("#juevesTime_2").find("input").val());
                jueves.push($("#juevesTime_3").find("input").val());
                jueves.push($("#juevesTime_4").find("input").val());

                viernes.push($("#viernesTime_1").find("input").val());
                viernes.push($("#viernesTime_2").find("input").val());
                viernes.push($("#viernesTime_3").find("input").val());
                viernes.push($("#viernesTime_4").find("input").val());

                sabado.push($("#sabadoTime_1").find("input").val());
                sabado.push($("#sabadoTime_2").find("input").val());
                sabado.push($("#sabadoTime_3").find("input").val());
                sabado.push($("#sabadoTime_4").find("input").val());

                domingo.push($("#domingoTime_1").find("input").val());
                domingo.push($("#domingoTime_2").find("input").val());
                domingo.push($("#domingoTime_3").find("input").val());
                domingo.push($("#domingoTime_4").find("input").val());

                console.log(lunes.toString());
                console.log(martes.toString());
                console.log(miercoles.toString());
                console.log(jueves.toString());
                console.log(viernes.toString());
                console.log(sabado.toString());
                console.log(domingo.toString());

                if (lunes.clean("").length == 1 || lunes.clean("").length == 3){
                    alert("Ingrese correctamente el horario del día lunes");
                }else {
                    if (martes.clean("").length == 1 || martes.clean("").length == 3){
                        alert("Ingrese correctamente el horario del día martes");
                    }else{
                        if (miercoles.clean("").length == 1 || miercoles.clean("").length == 3){
                            alert("Ingrese correctamente el horario del día miercoles");
                        }else{
                            if (jueves.clean("").length == 1 || jueves.clean("").length == 3){
                                alert("Ingrese correctamente el horario del día jueves");
                            }else {
                                if (viernes.clean("").length == 1 || viernes.clean("").length == 3){
                                    alert("Ingrese correctamente el horario del día viernes");
                                }else {
                                    if (sabado.clean("").length == 1 || sabado.clean("").length == 3){
                                        alert("Ingrese correctamente el horario del día sabado");
                                    }else {
                                        if (domingo.clean("").length == 1 || domingo.clean("").length == 3){
                                            alert("Ingrese correctamente el horario del día domingo");
                                        }else {
                                            var lunes = [];
                                            var martes = [];
                                            var miercoles = [];
                                            var jueves = [];
                                            var viernes = [];
                                            var sabado = [];
                                            var domingo = [];

                                            lunes.push($("#lunesTime_1").find("input").val());
                                            lunes.push($("#lunesTime_2").find("input").val());
                                            lunes.push($("#lunesTime_3").find("input").val());
                                            lunes.push($("#lunesTime_4").find("input").val());

                                            martes.push($("#martesTime_1").find("input").val());
                                            martes.push($("#martesTime_2").find("input").val());
                                            martes.push($("#martesTime_3").find("input").val());
                                            martes.push($("#martesTime_4").find("input").val());

                                            miercoles.push($("#miercolesTime_1").find("input").val());
                                            miercoles.push($("#miercolesTime_2").find("input").val());
                                            miercoles.push($("#miercolesTime_3").find("input").val());
                                            miercoles.push($("#miercolesTime_4").find("input").val());

                                            jueves.push($("#juevesTime_1").find("input").val());
                                            jueves.push($("#juevesTime_2").find("input").val());
                                            jueves.push($("#juevesTime_3").find("input").val());
                                            jueves.push($("#juevesTime_4").find("input").val());

                                            viernes.push($("#viernesTime_1").find("input").val());
                                            viernes.push($("#viernesTime_2").find("input").val());
                                            viernes.push($("#viernesTime_3").find("input").val());
                                            viernes.push($("#viernesTime_4").find("input").val());

                                            sabado.push($("#sabadoTime_1").find("input").val());
                                            sabado.push($("#sabadoTime_2").find("input").val());
                                            sabado.push($("#sabadoTime_3").find("input").val());
                                            sabado.push($("#sabadoTime_4").find("input").val());

                                            domingo.push($("#domingoTime_1").find("input").val());
                                            domingo.push($("#domingoTime_2").find("input").val());
                                            domingo.push($("#domingoTime_3").find("input").val());
                                            domingo.push($("#domingoTime_4").find("input").val());

                                            $.ajax({
                                                url:'{{ (path('updateHorarioAjax')) }}',
                                                type: "POST",
                                                dataType: "JSON",
                                                data: {
                                                    "lunes": lunes.toString(),
                                                    "martes": martes.toString(),
                                                    "miercoles": miercoles.toString(),
                                                    "jueves": jueves.toString(),
                                                    "viernes": viernes.toString(),
                                                    "sabado": sabado.toString(),
                                                    "domingo": domingo.toString(),
                                                    "nombre": $("#nombre").find("input").val().toString(),
                                                    "id":{{ id }}
                                                },
                                                success: function (data)
                                                {
                                                    console.log(data);
                                                    window.location= '{{ path("horario") }}';
                                                }
                                            });
                                        }
                                    }
                                }
                            }
                        }
                    }
                }


            });
        } );


    </script>
{% endblock %}