{% extends 'base.html.twig' %}

{% block title %}Horario{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block body %}
    <div class="row" id="horario">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            {{ render(controller(
                'App\\Controller\\HorarioController::crearHorario'
            )) }}

        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $('#lunesTime_1').datetimepicker({
                format: 'LT'
            });
            $('#lunesTime_2').datetimepicker({
                format: 'LT'
            });
            $('#lunesTime_3').datetimepicker({
                format: 'LT'
            });
            $('#lunesTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#martesTime_1').datetimepicker({
                format: 'LT'
            });
            $('#martesTime_2').datetimepicker({
                format: 'LT'
            });
            $('#martesTime_3').datetimepicker({
                format: 'LT'
            });
            $('#martesTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#miercolesTime_1').datetimepicker({
                format: 'LT'
            });
            $('#miercolesTime_2').datetimepicker({
                format: 'LT'
            });
            $('#miercolesTime_3').datetimepicker({
                format: 'LT'
            });
            $('#miercolesTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#juevesTime_1').datetimepicker({
                format: 'LT'
            });
            $('#juevesTime_2').datetimepicker({
                format: 'LT'
            });
            $('#juevesTime_3').datetimepicker({
                format: 'LT'
            });
            $('#juevesTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#viernesTime_1').datetimepicker({
                format: 'LT'
            });
            $('#viernesTime_2').datetimepicker({
                format: 'LT'
            });
            $('#viernesTime_3').datetimepicker({
                format: 'LT'
            });
            $('#viernesTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#sabadoTime_1').datetimepicker({
                format: 'LT'
            });
            $('#sabadoTime_2').datetimepicker({
                format: 'LT'
            });
            $('#sabadoTime_3').datetimepicker({
                format: 'LT'
            });
            $('#sabadoTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });

            $('#domingoTime_1').datetimepicker({
                format: 'LT'
            });
            $('#domingoTime_2').datetimepicker({
                format: 'LT'
            });
            $('#domingoTime_3').datetimepicker({
                format: 'LT'
            });
            $('#domingoTime_4').datetimepicker({
                format: 'LT',
                //format: 'HH:mm',
            });


            $("#guardarHorario").click( function(){
                var lunes = [];
                var martes = [];
                var miercoles = [];
                var jueves = [];
                var viernes = [];
                var sabado = [];
                var domingo = [];

                lunes.push($("#lunesTime_1").find("input").val());
                lunes.push($("#lunesTime_2").find("input").val());
                lunes.push($("#lunesTime_3").find("input").val());
                lunes.push($("#lunesTime_4").find("input").val());

                martes.push($("#martesTime_1").find("input").val());
                martes.push($("#martesTime_2").find("input").val());
                martes.push($("#martesTime_3").find("input").val());
                martes.push($("#martesTime_4").find("input").val());

                miercoles.push($("#miercolesTime_1").find("input").val());
                miercoles.push($("#miercolesTime_2").find("input").val());
                miercoles.push($("#miercolesTime_3").find("input").val());
                miercoles.push($("#miercolesTime_4").find("input").val());

                jueves.push($("#juevesTime_1").find("input").val());
                jueves.push($("#juevesTime_2").find("input").val());
                jueves.push($("#juevesTime_3").find("input").val());
                jueves.push($("#juevesTime_4").find("input").val());

                viernes.push($("#viernesTime_1").find("input").val());
                viernes.push($("#viernesTime_2").find("input").val());
                viernes.push($("#viernesTime_3").find("input").val());
                viernes.push($("#viernesTime_4").find("input").val());

                sabado.push($("#sabadoTime_1").find("input").val());
                sabado.push($("#sabadoTime_2").find("input").val());
                sabado.push($("#sabadoTime_3").find("input").val());
                sabado.push($("#sabadoTime_4").find("input").val());

                domingo.push($("#domingoTime_1").find("input").val());
                domingo.push($("#domingoTime_2").find("input").val());
                domingo.push($("#domingoTime_3").find("input").val());
                domingo.push($("#domingoTime_4").find("input").val());

                console.log(lunes.toString());
                console.log(martes.toString());
                console.log(miercoles.toString());
                console.log(jueves.toString());
                console.log(viernes.toString());
                console.log(sabado.toString());
                console.log(domingo.toString());

                $.ajax({
                    url:'{{ (path('crearHorarioAjax')) }}',
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        "lunes": lunes.toString(),
                        "martes": martes.toString(),
                        "miercoles": miercoles.toString(),
                        "jueves": jueves.toString(),
                        "viernes": viernes.toString(),
                        "sabado": sabado.toString(),
                        "domingo": domingo.toString(),
                    },
                    success: function (data)
                    {
                        console.log(data);
                        window.location= '{{ path("horario") }}';
                    }
                });
            });
        } );


    </script>
{% endblock %}